body {
  font-family: "Lemonada", cursive, Arial, Helvetica, sans-serif;
  background-color:   #D0F984;
}

button {
  font-family: 'Lemonada', cursive, Arial, Helvetica, sans-serif;
  font-size: large;
  background-color:rgb(255, 148, 207);
  padding: 10px;
  /* border: 1px dashed#406200; */
  box-shadow: #e9b7d2;
  border-radius: 5px;
  width: 100px;
}

.space {
  width: 200px;
  height: 200px;
  border:  1px solid rgb(255, 148, 207);
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
}

h1, h2, p {
  text-align: center;
}

.hidden {
  display: none;
}

#win-container {
  /* border: 3px dashed rgb(153, 82, 211); */
  border-radius: 5px;
  padding: 15px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#win-container button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.token {
  max-width: 200px;
}

* {
  cursor: url(./img/potato.cur), pointer;
}

button:hover {
  cursor: url(./img/tears.cur), pointer;
}

a:hover: {
  cursor: url(./img/tears.cur), pointer;
}
